html, body {
  height: 100%; /* Make sure the html and body take the full height */
  margin: 0; /* Remove default margin */
}

.letter-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.letter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  background-color: white;
  font-size: 20px;
  transition: all 0.3s ease;
  color: white;
}

.timer-countdown{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 2%;
}

.question-container{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: xx-large;
}

.input-container {
  padding: 20px; /* Optional padding for better spacing */
  display: flex;
  justify-content: center; /* Center the input-container horizontally */
  align-items: flex-end; 
  margin-top: 13%;/* Align items to the bottom */
}

.input-container form {
  display: flex;
  flex-direction: row; /* Align form items in a row */
  align-items: center; /* Center items vertically */
}

.mat-form-field {
  margin-right: 10px; /* Spacing between input and button */
}

.letter.active {
  border: 2px solid #35bcbf;
}

.letter.solved {
  background-color: #3baea0;
}

.letter.passed {
  background-color: #ffe79a;
}

.letter.wrong {
  background-color: #da5151;
}

button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

h1 {
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
  margin: auto;  
  padding: 5%;
}

.designer {
  justify-content: end;
  align-items: flex-end;
  display: flex;
  margin-top: -1% !important;
}

/////

$purple: #4b6584;
$border: 2px solid $purple;

.box-4 {
	height: 120px;
	width: 120px;
	box-sizing: border-box;
}


.loader-4 {
	margin: 44px auto;
	box-sizing: border-box;
	//background: #fff;
}

.loader-4 {
	position: relative;
	height: 52px;
	width: 52px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;

	.dbl-spin-1,
	.dbl-spin-2 {
		position: absolute;
		box-sizing: border-box;
		display: block;
		margin: auto;
		border: 3px solid transparent;
		border-radius: 50%;
	}

	.dbl-spin-1 {
		height: 52px;
		width: 52px;
		border-top: 3px solid #4b658496;
		border-left: 3px solid #4b658496;
		animation: loader-4-dblspin 1.8s linear infinite;
	}

	.dbl-spin-2 {
		height: 72px;
		width: 72px;
		border-bottom: 3px solid $purple;
		border-left: 3px solid $purple;
		animation: loader-4-dblspin2 1.2s linear infinite;
	}
}

@keyframes loader-4-dblspin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-720deg);
	}
}

@keyframes loader-4-dblspin2 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}